@charset "UTF-8";

body {
  background: #fffbf4;
}

table.calender_titleAndBtn {
	background-color: #d7dee8;
	height: 50px;
	width: 100%;
	align: center;
}

span.title_string {
	font-size: 20px;
	font-weight: bold;
}

div.btn{
	text-align: right;
}

input.thisMonth_btn {
	BACKGROUND-IMAGE: url(http://localhost:8081/Task6_Schedule/static/images/today_btn_bg.gif);
	border: solid 0px;
    background-repeat: no-repeat;
    color: #363636;
    font-size: 13px!important;
    font-weight: bold;
    height: 25px;
    width: 50px;
    cursor: pointer;
}

input.previous_btn {
	BACKGROUND-IMAGE: url(http://localhost:8081/Task6_Schedule/static/images/arrow2_l.gif);
	border: solid 0px;
    background-repeat: no-repeat;
    color: #363636;
    font-size: 13px!important;
    font-weight: bold;
    height: 25px;
    width:25px;
    cursor: pointer;
}

input.next_btn {
	BACKGROUND-IMAGE: url(http://localhost:8081/Task6_Schedule/static/images/arrow2_r.gif);
	border: solid 0px;
    background-repeat: no-repeat;
    color: #363636;
    font-size: 13px!important;
    font-weight: bold;
    height: 25px;
    width:25px;
    cursor: pointer;
}


table {
	border-collapse: collapse;
	border: 2px;
	width: 100%;
	height: 500px;
	cellspacing: 0px;
	table-layout: fixed;
}

table, th, td {
	border: 1px solid black;
}

tr.yearAndMonth{
	 align:left;
	 valign:middle;
}

colgroup.sunday {
	background-color: #ffc1c1;
}

colgroup.saturday {
	background-color: #e5edfe;
}

td.month {
	height: 30px;
	background-color: #7D91BD;
	font-size: 120%;
	font-weight: bold;
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
}

tr.dayOfTheWeek {
	height: 20px;
	align: right;
	valign: top;
	background-color: #eeeeee;

}

td.dayOfThisMonth {
	margin: 5px 5px 5px 5px !important;
	padding: 5px 5px 5px 5px !important;
	height: 45px;
	border: 1px;
	border-color: #cccccc;
	BORDER-TOP-STYLE: SOLID;
	BORDER-BOTTOM-STYLE: SOLID;
	BORDER-LEFT-STYLE: SOLID;
	BORDER-RIGHT-STYLE: SOLID;
	COLOR: #333333;
	font-size: 100%;
	font-weight: bold;
	white-space:nomal;
}

td.dayOfOtherMonth {
	margin: 5px 5px 5px 5px !important;
	padding: 5px 5px 5px 5px !important;
	height: 45px;
	border: 1px;
	border-color: #cccccc;
	BORDER-TOP-STYLE: SOLID;
	BORDER-BOTTOM-STYLE: SOLID;
	BORDER-LEFT-STYLE: SOLID;
	BORDER-RIGHT-STYLE: SOLID;
	COLOR: #333333;
	font-size: 100%;
	font-weight: normal;
	white-space:nomal;

}

span.btn {
	float: left;
}

